<div id="header-container" class="container">
  <div class="navbar-header">
    {{#if _id}} {{! Remove if we have links when user is logged out}}
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    {{/if}}
    <a href="/" class="navbar-brand">Klickly</a>
  </div>
  <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
    <ul class="nav navbar-nav nav-main">
      {{#if _id}}
        <li><a href="/client/products" data-path='/client/products'>Products</a></li>
        <li><a href="/client/orders" data-path='/client/orders'>Orders</a></li>
        {{#if isAdmin}}
          <li><a href="/client/list" data-path='/client/list'>Clients</a></li>
          {{!<li><a href="/client/users" data-path='/client/users'>Users</a></li>}}
        {{/if}}
      {{/if}}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {{#if _id}}
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Account <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/client/edit/{{_id}}" data-path='/client/edit/{{_id}}'>My Profile</a></li>
            <li><a href="/client/logout">Logout</a></li>
          </ul>
        </li>
      {{/if}}
    </ul>
  </nav>
</div>