doctype 5
html(lang="en")
  head
    title= title || 'Klickly'
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/styles/index.css')
  body
    header#header.navbar.bs-docs-nav(role="banner")
    #main.container
    #modal
  
    footer
      .container
        .footer-content &copy; 2013 Klickly. All rights reserved.

    script(src="/js/modules.backend.js")
