extends ../layout

block content
  .panel
    h1 Klickly Homepage - Alpha
    div
      a(href="/client/login") Client login
    div
      a(href="/buy/523801c78108869f6a00000b") Sample product to purchase
    div &nbsp;