<div class='clearfix header'>
  <h2 class='pull-left'>Products</h2>
  <ul class='list-unstyled pull-right clearfix'>
    <li class='pull-left'>
      <button class="add btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Product</button>
    </li>
  </ul>
</div>

<table class="table table-striped list">
  <thead>
    <th>Name</th>
    <th>SKU</th>
    <th>Quantity</th>
    <th>Price</th>
    <th class='last'>Actions</th>
  </thead>
  <tbody></tbody>
</table>