<div class='clearfix header'>
  <h2 class='pull-left'>Orders</h2>
</div>

<table class="table table-striped list">
  <thead>
    <th>Order ID</th>
    <th>Status</th>
    <th>Product</th>
    <th class='last'>Actions</th>
  </thead>
  <tbody></tbody>
</table>