<div class='modal fade'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="login-modal">
        <h1>Please login to Klickly</h1>
        <div class="login-to-facebook">
          <a href="/user/facebook/connect/{{campaign._id}}" class="btn btn-lg btn-facebook">
            <i class="icon-facebook"></i><span>|</span>Login to Facebook
          </a>
          </div>
        <h6>- OR -</h6>
        <div class="login-to-twitter">
          <a href="/user/twitter/connect/{{campaign._id}}" class="btn btn-lg btn-twitter">
            <i class="icon-twitter"></i><span>|</span>Login to Twitter
          </a>
        </div>

        <small>By login in I agree to both the <a href="#">terms of service</a> and our <a href="#">privacy policy</a>.</small>

      </div>
    </div>
  </div>
</div>