<td>{{message}}</td>
<td>{{formateDate expiresAt format='from now'}}</td>
<td class='last'>{{#if channels.twitter}}Twitter{{/if}}{{#ifAnd channels.twitter channels.facebook}} &amp; {{/ifAnd}}{{#if channels.facebook}}Facebook{{/if}}</td>